<div class="panel">
    <h1>¡Juego completado!</h1>

    <div class="buttons-container">
        <button (click)="levels()"><span class="span">Selector de niveles</span><span class="material-symbols-outlined">menu</span></button> <!--menu es el nombre del material icon, realmente es niveles -->
        <button (click)="menu()"><span class="span">Menú</span><span class="material-symbols-outlined">home</span></button>
        <button (click)="newGame()"><span class="span">Nueva partida</span><span class="material-symbols-outlined">note_stack_add</span></button>
    </div>
</div>